.vscode/launch.json

**/*.js.map

**/*.d.ts
!tests/test-cases/**/output.d.ts

dist/
.tsbuildinfo/

node_modules/
!tests/test-cases/node_modules/
!tests/test-cases/node_modules/**

package-lock.json
package-lock.json.*

src/**/*.js
tests/**/*.js
