language: node_js

sudo: false

matrix:
  fast_finish: true

node_js:
  - "8"

branches:
  only:
  - master

env:
  # minimal supported version - just compile
  - TS_VERSION="2.6.1" COMPILE_ONLY=1
  # current (latest) supported version - compile and run tests
  - TS_VERSION="2.9.2"

git:
  depth: 1

cache:
  directories:
    - "node_modules"
    - ".dev-deps/node_modules"

script:
  - sh ./travis-script.sh
